# Ignore env files
**/.env*

*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
htmlcov

# mypy cache
.mypy_cache

# pytest cache
.pytest_cache

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Virtual environment(s)
.venv
venv
app.db

# Logs
prometheusML.log*

# Redis dump
dump.rdb

# Specific app filesystem folders
uploads

# Pycharm configs
.idea/

# Mac specific
**/*.DS_Store
