{% extends "base.html" %}


{% block nav %}
  <nav class="navbar fixed-top navbar-dark bg-dark px-4">

    <a class="navbar-brand h1">
      <img src="{{ url_for('static', filename='logo/logo-final-wt.svg') }}" height="45" alt="">
    </a>

  </nav>
{% endblock %}


{% block content %}

  <div class="row justify-content-center" style="padding-top: 8rem">
    <div class="col-md-8 col-10">
      <h2 class="py-2">Data Processing Policy</h2>

        <h5><i>Last updated: 26/04/2022</i></h5>

      <small><em>Estimated reading time: 7 minutes</em></small>

      <h4 class="pt-5 pb-2 text-prometheus">1. &nbsp; Introduction</h4>
        <p>
        Welcome to <strong class="text-prometheus">yaiLab Ltd</strong>.
        </p>

        <p>
            y<span class="text-prometheus">ai</span>Lab Ltd ("<strong class="text-prometheus">Company</strong>",
            "<strong class="text-prometheus">Our</strong>", "<strong class="text-prometheus">We</strong>")
            operates <a href="https://yailab.net">https://yailab.net</a>
            (hereinafter referred to as "<strong class="text-prometheus">Services</strong>"). Our Data Processing Policy
            governs your visit to <a href="https://yailab.net">https://yailab.net</a>, and explains how we collect,
            safeguard and disclose information that results from your use of our Services.
        </p>

        <p>
            We use your data to provide and improve Services. By using Services, you agree to the collection and use
            of information in accordance with this policy. Unless otherwise defined in this Data Processing Policy, the
            terms used in this Data Processing Policy have the same meanings as in our Terms and Conditions.
        </p>

        <p>
            Our <strong>Terms and Conditions</strong> ("<strong class="text-prometheus">Terms</strong>") govern all
            use of our Service and web pages and together with the <strong>Data Processing Policy</strong> constitute
            your agreement with us ("<strong class="text-prometheus">Agreement</strong>").
        </p>

      <h4 class="pt-5 pb-2 text-prometheus">2. &nbsp; Definitions</h4>
        <p>In this Part of the Schedule the following terms shall have the meanings set out below. </p>

        <p><strong>Applicable Laws</strong>: means:
          <ol type="a">
            <li>
                To the extent the UK GDPR applies, the law of the United Kingdom or of a part of the United Kingdom.
            </li>
            <li>
                To the extent the EU GDPR applies, the law of the European Union or any member state of the
                European Union to which the Company is subject.
            </li>
          </ol>
        </p>

        <p><strong>Applicable Data Protection Laws</strong>: means:
          <ol type="a">
            <li>
                To the extent the UK GDPR applies, the law of the United Kingdom
                or of a part of the United Kingdom which relates to the protection of personal data.
            </li>
            <li>
                To the extent the EU GDPR applies, the law of the European Union or any member state of
                the European Union to which the Company is subject, which relates to the protection of personal data.
            </li>
          </ol>
        </p>

        <p><strong>Company Personal Data</strong>: any personal data which the Company processes in connection
            with this Agreement, in the capacity of a controller.
        </p>

        <p><strong>Customer Personal Data</strong>: any personal data which the Company processes in connection
            with this Agreement, in the capacity of a processor on behalf of the Customer.
        </p>

        <p><strong> Controller, processor, data subject, personal data, personal data breach</strong> and
            <strong>processing</strong> shall have the meaning given to them in the UK GDPR.
            EU GDPR: the General Data Protection Regulation (<em>(EU) 2016/679</em>).
        </p>

        <p><strong> Purpose</strong>:
            the purposes for which the Customer Personal Data is processed, as set out in paragraph 3.5(a).
        </p>

        <p><strong> UK GDPR</strong>:
            has the meaning given to it in the Data Protection Act 2018.
        </p>


        <h4 class="pt-5 pb-2 text-prometheus">3. &nbsp; Data Protection</h4>

        <p>
            Both parties will comply with all applicable requirements of Applicable Data Protection Laws.
            This paragraph 3 is in addition to, and does not relieve, remove or replace, a party's obligations
            or rights under Applicable Data Protection Laws.
        </p>

        <p>The parties have determined that, for the purposes of Applicable Data Protection Laws:
          <ol type="a">
            <li>
                the Company shall act as controller of the personal data of the Customer required for
                the Company to manage and provide the Services; and
            </li>
            <li>
                the Company shall process the personal data set out in the Annex, as a processor on behalf of
                the Customer.
            </li>
          </ol>
        </p>

        <p>
            The Customer will ensure that it has all necessary appropriate consents and notices in place
            to enable lawful transfer of the Company Personal Data and the Customer Personal Data to the
            Company for the duration and purposes of this Agreement.
        </p>

        <p>
            In relation to the Customer Personal Data, the Annex to this Part of the Schedule sets out the nature
            and purpose of processing by the Company, the duration of the processing and the types of personal data
            and categories of data subject.
        </p>

        <p>
            The Company shall, in relation to the Customer Personal Data:

            <ol type="a">
            <li>
                process that Customer Personal Data only on the documented instructions of the Customer
                unless the Company is required by Applicable Laws to otherwise process that Customer Personal Data.
                Where the Company is relying on Applicable Laws as the basis for processing Customer Processor Data,
                the Company shall notify the Customer of this before performing the processing required by the
                Applicable Laws unless those Applicable Laws prohibit the Provider from so notifying the Customer
                on important grounds of public interest. The Company shall inform the Customer if, in the opinion
                of the Company, the instructions of the Customer infringe Applicable Data Protection Legislation;
            </li>
            <li>
                implement technical and organisational measures to protect against unauthorised or unlawful
                processing of Customer Personal Data and against accidental loss or destruction of, or damage to,
                Customer Personal Data, having regard to the state of technological development and the cost of
                implementing any measures;
            </li>
            <li>
                ensure that any personnel engaged and authorised by the Company to process Customer Personal Data
                have committed themselves to confidentiality or are under an appropriate statutory or common law
                obligation of confidentiality;
            </li>
            <li>
                assist the Customer insofar as this is possible (taking into account the nature of the processing
                and the information available to the Company), and at the Customer's cost and written request,
                in responding to any request from a data subject and in ensuring the Customer's compliance with its
                obligations under Applicable Data Protection Laws with respect to security, breach notifications,
                impact assessments and consultations with supervisory authorities or regulators;
            </li>
            <li>
                notify the Customer without undue delay on becoming aware of a personal data breach involving
                the Customer Personal Data;
            </li>
            <li>
                at the written direction of the Customer, delete or return Customer Personal Data and copies
                thereof to the Customer on termination of this Agreement unless the Company is required by
                Applicable Law to continue to process that Customer Personal Data, and
            </li>
            <li>
                maintain records to demonstrate its compliance with this paragraph and allow for reasonable audits
                by the Customer or the Customer's designated auditor, for this purpose, on reasonable written notice.
            </li>

          </ol>
        </p>

        <p>
            The Customer hereby provides its prior, general authorisation for the Company to:

            <ol type="a">
              <li>
                  appoint processors to process the Customer Personal Data, provided that the Company:
                  <strong>(i)</strong> shall ensure that the terms on which it appoints such processors comply with
                  Applicable Data Protection Laws, and are consistent with the obligations imposed on the Company
                  in this Part of the Schedule;

                  <strong>(ii)</strong> shall remain responsible for the acts and omission of any such processor
                  as if they were the acts and omissions of the Company; and

                  <strong>(iii)</strong> shall inform the Customer of any intended changes concerning the addition
                  or replacement of the processors, thereby giving the Customer the opportunity to object
                  to such changes.

              </li>
              <li>
                  transfer Customer Personal Data outside of the UK as required for the Purpose, provided that
                  the Company shall ensure that all such transfers are effected in accordance with Applicable
                  Data Protection Laws.
              </li>
            </ol>
        </p>


        <h4 class="pt-5 pb-2 text-prometheus">4. &nbsp; Annex  Particulars of the processing</h4>
        <p>
            <strong>Subject Matter</strong>: The provision of the Company’s software as a service offering
            for the development of machine learning models by the Customer.
        </p>
        <p>
            <strong>Nature</strong>: Collection, recording, organisation, structuring, storage (including hosting),
            analysis, adaptation or alteration, retrieval, consultation, use, disclosure by transmission,
            dissemination or otherwise making available, alignment or combination, restriction, erasure or
            destruction of data (whether or not by automated means).
        </p>
        <p>
            <strong>Purpose of processing</strong>: The Company shall undertake processing on behalf of the Customer
            for the performance of the Services in accordance with this Agreement.
        </p>

        <p>
            <strong>Duration of the processing</strong>: The term of this Agreement.
        </p>

        <p>
            <strong>Types of Personal Data</strong>: Subject to the Customer’s use of the Services, it is envisaged
            that the Customer may include personal data from the following categories:
            <ul>
                <li>
                    personal data (such as place of birth, street name and house number (address), postal code,
                    city of residence, country of residence, mobile phone number, first name, last name, initials,
                    email address, gender, date of birth)
                </li>
                <li>
                    authentication data (for example user name, password or PIN code, security question, audit trail);
                </li>
                <li>
                    contact information (for example addresses, email, phone numbers, social media identifiers;
                    emergency contact details).
                </li>

            </ul>

        </p>

        <p>
            <strong>Categories of Data Subject</strong>: Subject to the Customer’s use of the Services, it is envisaged
            that the Customer may include personal data from the following types of data subjects:
            <ul>
                <li>
                    employees, contractors and temporary workers (current, former, prospective).
                </li>
            </ul>

        </p>















    </div>
  </div>

{% endblock %}