{% extends "base.html" %}


{% block nav %}
  <nav class="navbar fixed-top navbar-dark bg-dark px-4">

    <a class="navbar-brand h1">
      <img src="{{ url_for('static', filename='logo/logo-final-wt.svg') }}" height="45" alt="">
    </a>

  </nav>
{% endblock %}

{% block content %}

  <div class="row justify-content-center" style="padding-top: 8rem">
    <div class="col-md-8 col-10">
      <h2 class="py-2">Terms and Conditions</h2>

        <h5><i>Last updated: 26/04/2022</i></h5>

      <small><em>Estimated reading time: 22 minutes</em></small>

      <h4 class="pt-5 pb-2 text-prometheus">1. &nbsp; Introduction</h4>
      <p>
          Welcome to <strong class="text-prometheus">yaiLab Ltd</strong> ("<strong class="text-prometheus">Company</strong>")!
          As you have just clicked our Terms and Conditions, please pause, grab your beverage of preference and carefully
          read the following pages.
      </p>

      <p>
          These <strong>Terms and Conditions</strong> ("<strong class="text-prometheus">Terms</strong>") govern all
          use of our Service and web pages and together with the <strong>Data Processing Policy</strong> constitute your
          agreement with us ("<strong class="text-prometheus">Agreement</strong>"). You acknowledge that you have read
          and understood the Agreement, and agree to be bound of it.
      </p>

      <p>
      For the purposes of this Agreement:
       <ol>
          <li>"<strong class="text-prometheus">Company</strong>" means
              <strong class="text-prometheus">yaiLab Ltd</strong>, a company incorporated and registered in Scotland
              with company number SC707502 and having its registered office at 64a Cumberland Street, Edinburgh, Scotland,
              EH3 6RE; and
          </li>
          <li>"<strong class="text-prometheus">Customer</strong>" means the legal entity on whose behalf this Agreement
              has been accepted as part of the registration subscription process
          </li>

       </ol>

      </p>


      <p>
          If you do not agree with (or cannot comply with) the Agreement, then you may not use the Service, but please
          let us know by emailing at <a href="mailto:info@yailab.com">info@yailab.com</a> so we can try to find a solution.
          These Terms apply to all visitors, users and others who wish to access or use Service.
      </p>

      <p>
        Thank you for being responsible.
      </p>

      <!----------------------------------->
      <h4 class="pt-5 pb-2 text-prometheus">2. &nbsp; SAAS Services and Support</h4>
      <p>
        Subject to the terms of this Agreement, the Company will use its reasonable endeavours to provide
        the Customer with access to the Services substantially in accordance with any documentation made available to
        the Customer by the Company online from time to time (the "<strong class="text-prometheus">Documentation</strong>").
      </p>

      <p>
        As part of the registration process, the Customer will identify an administrative user name
        and password for the Customer’s Company account.  The Company reserves the right to refuse registration
        of, or cancel passwords it deems inappropriate.
      </p>

      <p>
        Subject to these terms, the Company will provide the Customer with the technical support services in
        accordance with the terms detailed in Schedule Part 2 Technical Support Services)
      </p>

     <!----------------------------------->
     <h4 class="pt-5 pb-2 text-prometheus">3. &nbsp; Restrictions and responsibilities</h4>
     <p>
       Subject to the restrictions set out in this clause 3 and the other terms and conditions of this Agreement,
       the Company hereby grants to the Customer a non-exclusive, non-transferable right, without the right to
       grant sublicences, to permit authorised users to use the Services and the Documentation during the Term
       solely for the Customer's internal business operations.
     </p>

      <p>
        The Customer will not, directly or indirectly: reverse engineer, decompile, disassemble or otherwise attempt to
        discover the source code, object code or underlying structure, ideas, know-how or algorithms relevant
        to the Services or any software, documentation or data related to the Services
          ("<strong class="text-prometheus">Software</strong>")
        (except to the extent permitted by applicable law); modify, translate, or create derivative works based on
        the Services or any Software (except to the extent expressly permitted by applicable law, the Company or
        authorised within the Services); use the Services or any Software for timesharing or service bureau purposes
        or otherwise for the benefit of a third party; or remove any proprietary notices or labels.
      </p>

      <p>
        With respect to any Software that is provided to the Customer for use on Customer premises or devices,
        the Company hereby grants the Customer a non-exclusive, non-transferable, non-sublicensable license to use such
        Software during the Term only in connection with the permitted use of the Services.
      </p>

      <p>
        The Customer shall not access, store, distribute or transmit any viruses or any material during the course
        of its use of the Services that:

        <ol type="a">
          <li>
            is unlawful, harmful, threatening, defamatory, obscene, infringing, harassing or racially or
              ethnically offensive;
          </li>
          <li>
            facilitates illegal activity;
          </li>
          <li>
            depicts sexually explicit images;
          </li>
          <li>
            promotes unlawful violence;
          </li>
          <li>
            is discriminatory based on race, gender, colour, religious belief, sexual orientation, disability; or
          </li>
          <li>
            is otherwise illegal or causes damage or injury to any person or property;
          </li>

        </ol>

      and the Company reserves the right, without liability or prejudice to its other rights to the Customer,
      to suspend the Customer’s access and use of the Services, including disable the Customer's access to any material
      that breaches the provisions of this clause.

      </p>

      <p>
        The Customer shall provide the Company with all necessary co-operation in relation to this Agreement and all
        necessary access to such information as may be required by the Company in order to provide the Services,
        including but not limited to Customer Data.
      </p>

      <p>
        The Customer shall:

        <ol type="a">
          <li>
            ensure that all its authorised users use the Services and the Documentation in accordance with the
            terms and conditions of this Agreement and shall be responsible for any authorised user's breach
            of this Agreement;
          </li>
          <li>
            obtain and shall maintain all necessary licences, consents, and permissions necessary for the Company,
            its contractors and agents to perform their obligations under this Agreement, including without limitation
            the Services;
          </li>
          <li>
            ensure that its network and systems comply with the relevant specifications provided by the Company
            from time to time; and
          </li>
          <li>
            be, to the extent permitted by law and except as otherwise expressly provided in this Agreement,
            solely responsible for procuring, maintaining and securing its network connections and telecommunications
            links from its systems to the Company's data centre(s), and all problems, conditions, delays,
            delivery failures and all other loss or damage arising from or relating to the Customer's network
            connections or telecommunications links or caused by the internet
          </li>
        </ol>

      </p>

      <p>
        The Customer represents and warrants that the Customer will use the Services only in compliance with the
        terms of this Agreement and all applicable laws and regulations.  The Customer shall indemnify and hold
        harmless the Company against any damages, losses, liabilities, settlements and expenses (including without
        limitation costs and professional fees) in connection with any claim or action that arises from an alleged
        breach of the foregoing or otherwise from the Customer’s use of the Services.  Although the Company has no
        obligation to monitor the Customer’s use of the Services, the Company may do so and may prohibit any use of
        the Services it believes may be (or alleged to be) in violation of the foregoing.
      </p>

      <p>
        The Customer shall be responsible for obtaining and maintaining any equipment and ancillary services needed
        to connect to, access or otherwise use the Services, including, without limitation, modems, hardware, servers,
        software, operating systems, networking, web servers and the like (collectively,
          "<strong class="text-prometheus">Equipment</strong>").
        The Customer shall also be responsible for maintaining the security of the Equipment, the Customer account,
        passwords (including but not limited to administrative and user passwords) and files, and for all uses of the
        Customer account or the Equipment with or without the Customer’s knowledge or consent.
      </p>

      <p>
        The Customer shall use all reasonable endeavours to prevent any unauthorised access to, or use of,
        the Services and/or the Documentation and, in the event of any such unauthorised access or use, promptly
        notify the Company.
      </p>

      <p>
          <strong><em>Privacy</em></strong>. The Customer is responsible for any consents and notices required
          to permit <strong>(a)</strong> the Customer's use and receipt of the Services and <strong>(b)</strong> the
          Company's accessing, storing,
          and processing of data provided by the Customer (including the Customer Data, if applicable)
          under this Agreement.  Without prejudice to the foregoing generality, the Customer and the Company
          shall comply with the terms of Schedule Part 2 (Data Processing).

      </p>

    <!----------------------------------->
    <h4 class="pt-5 pb-2 text-prometheus">4. &nbsp; Confidentiality</h4>

    <p>
        Each party (the "<strong class="text-prometheus">Receiving Party</strong>") understands that the other party
        (the "<strong class="text-prometheus">Disclosing Party</strong>") has disclosed or may disclose business,
        technical or financial information relating
        to the Disclosing Party’s business (hereinafter referred to as
        "<strong class="text-prometheus">Proprietary Information</strong>"
        of the Disclosing Party) in order to perform its obligations or exercise its rights under this Agreement.
        Proprietary Information of the Company includes non-public information regarding features, functionality
        and performance of the Services.  Proprietary Information of the Customer includes non-public data provided
        by the Customer to the Company to enable the provision of the Services, including data uploaded by the
        Customer for machine learning model development (the "<strong class="text-prometheus">Customer Data</strong>").
    </p>

    <p>
        The Receiving Party agrees: <strong>(i)</strong> to take reasonable precautions to protect such Proprietary
        Information, and <strong>(ii)</strong> not (except in performance of the Services or as otherwise permitted
        herein) to use or divulge to any third person any such Proprietary Information.
    </p>

    <p>
        The Disclosing Party agrees that the foregoing shall not apply with respect to any information after
        <strong>five (5) </strong> years following the disclosure thereof or any information that the Receiving Party
        can document <strong>(a)</strong> is or becomes generally available to the public other than through any act
        or omission of the Receiving Party, or <strong>(b)</strong> was in its lawful possession or known by it
        prior to receipt from the Disclosing Party, or <strong>(c)</strong> was rightfully disclosed to it without
        restriction by a third party, or <strong>(d)</strong> was independently developed without use of any
        Proprietary Information of the Disclosing Party or <strong>(e)</strong> is required to be disclosed by law,
        by any governmental or other regulatory authority or by a court or other authority of competent jurisdiction,
        provided that, to the extent it is legally permitted to do so, it gives the Disclosing Party as much notice
        of such disclosure as possible and, where notice of disclosure is not prohibited and is given in accordance
        with this clause 4.3, it takes into account the reasonable requests of the Disclosing Party in relation to
        the content of such disclosure.

    </p>

    <!----------------------------------->
    <h4 class="pt-5 pb-2 text-prometheus">5. &nbsp; Propriety Rights</h4>

    <p>
        The Customer acknowledges and agrees that the Company and/or its licensors own all intellectual property
        rights in the Services and the Documentation.  The Company shall own and retain all right, title and interest
        in and to <strong>(a)</strong> the Services and Software, all improvements, enhancements or modifications
        thereto, <strong>(b)</strong> any software, applications, inventions or other technology developed in
        connection with implementation services or support, and <strong>(c)</strong> all intellectual property rights
        related to any of the foregoing.
    </p>

    <p>
        Except as expressly stated herein, this Agreement does not grant the Customer any rights to, under or in,
        any patents, copyright, database right, trade secrets, trade names, trade marks
        (whether registered or unregistered), or any other rights or licences in respect of the Services or the
        Documentation.
    </p>

    <p>
        The Customer shall own all right, title and interest in and to the Customer Data. The Customer shall have
        sole responsibility for the legality, reliability, integrity, accuracy and quality of all such Customer Data.
    </p>

    <p>
        Through the use of Services and the Documentation, the Customer can build machine learning models.
        The Company shall own and retain all right, title and interest in and to the intellectual property rights
        arising out of or in connection with the use of the Services and the Documentation to build machine
        learning models; except that where the Customer is using the manual functionality provided as part of the
        Services for machine learning model development, the Customer shall own and retain right, title and interest
        in and to the intellectual property rights specifically created and relating to the machine learning model
        developed using the manual functionality.
    </p>

    <p>
        Where the Services and the Documentation are used by the Customer for academic teaching and research purposes
        and results are published, the Customer shall ensure that an appropriate acknowledgment is given to the
        Company in the relevant publication(s).
    </p>

    <p>
        Notwithstanding anything to the contrary, the Company shall have the right to collect and analyse data
        and other information relating to the provision, use and performance of various aspects of the Services
        and related systems and technologies (including, without limitation, the Customer Data, information
        concerning the Customer Data and data derived therefrom), and the Company will be free
        (during and after the Term) to <strong>(i)</strong> use such information and data to improve and
        enhance the Services
        and for other development, diagnostic and corrective purposes in connection with the Services
        and other Company offerings, and <strong>(ii)</strong> disclose such data solely in aggregate or
        other de-identified form in connection with its business.
        <strong><em>No rights or licences are granted except as expressly set forth herein.</em></strong>
    </p>


    <!----------------------------------->
    <h4 class="pt-5 pb-2 text-prometheus">6. &nbsp; Trial Period - No Fees</h4>

    <p>
        No fees shall be payable by the Customer for the Services in respect of the Term.
        If, however, the Customer wishes to continue to receive the Services after the Term, the Customer shall
        pay such fees in the manner specified by the Company.
    </p>


    <!----------------------------------->
    <h4 class="pt-5 pb-2 text-prometheus">7. &nbsp; Term and Termination</h4>

    <p>
        Subject to earlier termination as provided below, this Agreement is for a trial period of
        <strong><em>two (2) months</em></strong> effective from the date specified by the Company and shall
        automatically terminate at the end of the two (2) month trial period
        (the "<strong class="text-prometheus">Term</strong>").
    </p>

    <p>
        At any time and without notice, the Company reserves the right to <strong>(i)</strong> modify the terms
        of service of the free trial or <strong>(ii)</strong> cancel the free trial.
    </p>

    <p>
        In addition to any other remedies it may have, either party may terminate this Agreement with immediate
        effect upon written notice to the other party if the other party is in material breach of any of the terms
        or conditions of this Agreement and (if such breach is remediable) fails to remedy that breach within a
        period of seven (7) days after being notified in writing to do so.
    </p>

    <p>
        Without affecting any other right or remedy available to it, the Company may terminate this Agreement
        with immediate effect by giving written notice to the Customer if:

        <ol type="a">
          <li>
              the Customer suspends, or threatens to suspend, payment of its debts or is unable to pay its debts
              as they fall due or admits inability to pay its debts or is deemed unable to pay its debts within
              the meaning of section 123 of the Insolvency Act 1986;
          </li>
          <li>
              the Customer commences negotiations with all or any class of its creditors with a view to
              rescheduling any of its debts, or makes a proposal for or enters into any compromise or arrangement
              with its creditors other than for the sole purpose of a scheme for a solvent amalgamation of the
              Customer with one or more other companies or the solvent reconstruction of the Customer;
          </li>
          <li>
              the Customer applies to court for, or obtains, a moratorium under Part A1 of the Insolvency Act 1986;
          </li>
          <li>
              a petition is filed, a notice is given, a resolution is passed, or an order is made,
              for or in connection with the winding up of the Customer other than for the sole purpose
              of a scheme for a solvent amalgamation of the Customer with one or more other companies
              or the solvent reconstruction of the Customer;
          </li>
          <li>
              an application is made to court, or an order is made, for the appointment of an administrator,
              or if a notice of intention to appoint an administrator is given or if an administrator is appointed,
              over the Customer (being a company, partnership or limited liability partnership);
          </li>
          <li>
              the holder of a qualifying floating charge over the assets of the Customer
              (being a company or limited liability partnership) has become entitled to appoint or has appointed
              an administrative receiver;
          </li>
          <li>
              a person becomes entitled to appoint a receiver over the assets of the Customer or a receiver is
              appointed over the assets of the Customer;
          </li>
          <li>
              a creditor or encumbrancer of the Customer attaches or takes possession of, or a distress,
              execution, sequestration or other such process is levied or enforced on or sued against, the
              whole or any part of the Customer's assets and such attachment or process is not discharged
              within fourteen (14) days;
          </li>
          <li>
              any event occurs, or proceeding is taken, with respect to the Customer in any jurisdiction to
              which it is subject that has an effect equivalent or similar to any of the events mentioned in
              clause 5 (a) to clause 5 (h) (inclusive);
          </li>
          <li>
              the Customer suspends or ceases, or threatens to suspend or cease, carrying on all or a substantial
              part of its business; or
          </li>
          <li>
              there is a change of control of the Customer (within the meaning of section 1124 of
              the Corporation Tax Act 2010).
          </li>
        </ol>

    </p>

    <!----------------------------------->
    <h4 class="pt-5 pb-2 text-prometheus">8. &nbsp; Consequences of Termination</h4>

    <p>
        On termination of this Agreement for any reason:
        <ol type="a">
          <li>
              all licences granted under this Agreement shall, subject to clause 8.2, immediately terminate
              and the Customer shall immediately cease all use of the Services and/or the Documentation;
          </li>
          <li>
              each party shall return and make no further use of any equipment, property, Documentation and
              other items (and all copies of them) belonging to the other party;
          </li>
          <li>
              the Company may destroy or otherwise dispose of any of the Customer Data in its possession;
          </li>
          <li>
              any rights, remedies, obligations or liabilities of the parties that have accrued up to the date
              of termination, including the right to claim damages in respect of any breach of this Agreement
              which existed at or before the date of termination shall not be affected or prejudiced.
          </li>
        </ol>
    </p>

    <p>
        Termination of this Agreement shall be without prejudice to the ongoing right of the Company to analyse
        data and other information relating to the provision, use and performance of various aspects of the Services
        and related systems and technologies as set out in clause 5.5 (Proprietary Rights), which right shall
        continue in full force and effect.
    </p>

    <p>
        All clauses of this Agreement which by their nature should survive termination will survive termination,
        including, without limitation, accrued rights to payment, confidentiality obligations, warranties and
        disclaimers, and limitations of liability.
    </p>


    <!----------------------------------->
    <h4 class="pt-5 pb-2 text-prometheus">9. &nbsp; Warranty and Disclaimer</h4>

    <p>
        The Company shall use its reasonable endeavours consistent with prevailing industry standards to maintain
        the Services in a manner which minimises errors and interruptions in the Services.
    </p>

    <p>
        The Services (in whole or in part) may be temporarily unavailable for scheduled maintenance or for
        unscheduled emergency maintenance, either by the Company or by third-party providers, or because of
        other causes beyond the Company’s reasonable control, but the Company shall use its reasonable endeavours
        to inform the Customer in advance in writing or by e-mail of any scheduled service disruption.
    </p>

    <p>
        The Company is not responsible for any delays, delivery failures, or any other loss or damage resulting
        from the transfer of data over communications networks and facilities, including the internet, and the
        Customer acknowledges that the Services and Documentation may be subject to limitations, delays and other
        problems inherent in the use of such communications facilities.
    </p>

    <p>
        The Company does not warrant that: <strong>(i)</strong> the Customer’s use of the Services will
        be uninterrupted or error free, <strong>(ii)</strong> the Services, Documentation and/or the information
        or results obtained by the Customer through the Services will meet the Customer’s requirements, or
        <strong>(iii)</strong> the Services will be free from viruses.
    </p>

    <p>
        In the event of any loss or damage to Customer Data, the Customer's sole and exclusive remedy against
        the Company shall be for the Company to use its reasonable endeavours to restore the lost or damaged
        Customer Data from the latest back-up of such Customer Data maintained by the Company. The Company shall
        not be responsible for any loss, destruction, alteration or disclosure of Customer Data caused by any
        third party (except those third parties sub-contracted by the Company to perform services related to
        Customer Data maintenance and back-up for which it shall remain liable).
    </p>

    <!----------------------------------->
    <h4 class="pt-5 pb-2 text-prometheus">10. &nbsp; Indemnity</h4>

    <p>
        The Customer shall defend, indemnify and hold harmless the Company against claims, actions, proceedings,
        losses, damages, expenses and costs (including without limitation court costs and reasonable legal fees)
        arising out of or in connection with the Customer's use of the Services and/or Documentation, provided that:

        <ol type="a">
          <li>
              the Customer is given prompt notice of any such claim;
          </li>
          <li>
              the Company provides reasonable co-operation to the Customer in the defence and settlement of such claim,
              at the Customer's expense; and
          </li>
          <li>
              the Customer is given sole authority to defend or settle the claim.
          </li>
        </ol>
    </p>

    <!----------------------------------->
    <h4 class="pt-5 pb-2 text-prometheus">11. &nbsp; Limitation of Liability</h4>

        <p>
            Except as expressly and specifically provided in this Agreement:

            <ol type="a">
              <li>
                  the Customer assumes sole responsibility for results obtained from the use of the
                  Services and the Documentation by the Customer, and for conclusions drawn from such use.
                  The Company shall have no liability for any damage caused by errors or omissions in any
                  information, instructions or scripts provided to the Company by the Customer in connection
                  with the Services, or any actions taken by the Company at the Customer's direction;
              </li>
              <li>
                  all warranties, representations, conditions and all other terms of any kind whatsoever
                  implied by statute or common law are, to the fullest extent permitted by applicable law,
                  excluded from this Agreement; and
              </li>
              <li>
                  the Services and the Documentation are provided to the Customer on an
                  "<strong class="text-prometheus">as is</strong>" basis.
              </li>
            </ol>

        </p>

        <p>
            Nothing in this Agreement excludes the liability of the Company:

            <ol type="a">
              <li>
                  for death or personal injury caused by the Company's negligence; or
              </li>
              <li>
                  for fraud or fraudulent misrepresentation; or
              </li>
              <li>
                  for any other liability that cannot be limited or excluded by applicable law
              </li>
            </ol>


        </p>

        <p>
            Subject to clause 11.1 and clause 11.2:

            <ol type="a">
              <li>
                  the Company shall not be liable whether in delict (tort) (including for negligence or breach
                  of statutory duty), contract, misrepresentation, restitution or otherwise for any loss of profits,
                  loss of business, depletion of goodwill and/or similar losses or loss or corruption of data or
                  information, or pure economic loss, or for any special, indirect or consequential loss, costs,
                  damages, charges or expenses however arising under this Agreement; and
              </li>
              <li>
                  the Company's total aggregate liability in contract, delict (tort) (including negligence or breach
                  of statutory duty), misrepresentation, restitution or otherwise, arising in connection with the
                  performance or contemplated performance of this Agreement shall be limited
                  to £250 (TWO HUNDRED AND FIFTY POUNDS STERLING) which the Customer acknowledges is fair and
                  reasonable in the circumstances given that the Services and Documentation are being made
                  available free of charge for the Term.
              </li>
            </ol>

        </p>

        <p>
            Nothing in this Agreement excludes the liability of the Customer for any breach, infringement
            or misappropriation of the Company’s Intellectual Property Rights.
        </p>


        <!----------------------------------->
        <h4 class="pt-5 pb-2 text-prometheus">12. &nbsp; Force Majeure</h4>
        <p>
            The Company shall have no liability to the Customer under this Agreement if it is prevented from or
            delayed in performing its obligations under this Agreement, or from carrying on its business, by acts,
            events, omissions or accidents beyond its reasonable control, including, without limitation, strikes,
            lock-outs or other industrial disputes (whether involving the workforce of the Company or any other party),
            failure of a utility service or transport or telecommunications network, act of God, war, riot,
            civil commotion, malicious damage, compliance with any law or governmental order, rule, regulation or
            direction, accident, breakdown of plant or machinery, fire, flood, storm or default of suppliers or
            sub-contractors, provided that the Customer is notified of such an event and its expected duration.
        </p>


        <!----------------------------------->
        <h4 class="pt-5 pb-2 text-prometheus">13. &nbsp; Conflict</h4>
        <p>
            If there is an inconsistency between any of the provisions in the main body of this Agreement and
            the Schedule, the provisions in the main body of this Agreement shall prevail.
        </p>


        <!----------------------------------->
        <h4 class="pt-5 pb-2 text-prometheus">14. &nbsp; Variation</h4>
        <p>
            No variation of this Agreement shall be effective unless it is in writing and signed by the parties
            (or their authorised representatives).
        </p>


        <!----------------------------------->
        <h4 class="pt-5 pb-2 text-prometheus">15. &nbsp; Waiver</h4>
        <p>
            No failure or delay by a party to exercise any right or remedy provided under this Agreement or by
            law shall constitute a waiver of that or any other right or remedy, nor shall it prevent or restrict
            the further exercise of that or any other right or remedy. No single or partial exercise of such right
            or remedy shall prevent or restrict the further exercise of that or any other right or remedy.
        </p>


        <!----------------------------------->
        <h4 class="pt-5 pb-2 text-prometheus">16. &nbsp; Rights and Remedies</h4>
        <p>
            Except as expressly provided in this Agreement, the rights and remedies provided under this Agreement
            are in addition to, and not exclusive of, any rights or remedies provided by law.
        </p>


        <!----------------------------------->
        <h4 class="pt-5 pb-2 text-prometheus">17. &nbsp; Severance</h4>
        <p>
            If any provision or part-provision of this Agreement is found to be unenforceable, illegal or invalid,
            that provision will be limited or deleted to the minimum extent necessary so that this Agreement will
            otherwise remain in full force and effect and enforceable. If any provision or part-provision of this
            Agreement is deemed deleted the parties shall negotiate in good faith to agree a replacement provision
            that, to the greatest extent possible, achieves the intended commercial result of the original provision.
        </p>


        <!----------------------------------->
        <h4 class="pt-5 pb-2 text-prometheus">18. &nbsp; Assignation</h4>
        <p>
            This Agreement is not assignable, transferable or sublicensable by the Customer except with the
            Company’s prior written consent.  The Company may, at any time, transfer, assign, charge,
            sub-contract or deal in any other manner with all or any of its rights and obligations under
            this Agreement without consent.
        </p>


        <!----------------------------------->
        <h4 class="pt-5 pb-2 text-prometheus">19. &nbsp; Entire Agreement</h4>
        <p>
            This Agreement is the complete and exclusive statement of the mutual understanding of the Company
            and the Customer and supersedes and cancels all previous written and oral agreements, communications,
            promises, assurances, warranties, representation and other understandings relating to the subject
            matter of this Agreement.  Each party acknowledges that in entering into this Agreement it does
            not rely on, and shall have no remedies in respect of, any statement, representation, assurance or
            warranty (whether made innocently or negligently) that is not set out in this Agreement. Nothing in
            this clause shall limit or exclude any liability for fraud.
        </p>


         <!----------------------------------->
        <h4 class="pt-5 pb-2 text-prometheus">20. &nbsp; No Partnership or Agency</h4>
        <p>
            Nothing in this Agreement is intended to or shall operate to create a partnership, joint venture,
            or employment between the parties or authorise either party to act as agent for the other,
            and neither party shall have the authority to act in the name or on behalf of or otherwise to
            bind the other in any way (including, but not limited to, the making of any representation or warranty,
            the assumption of any obligation or liability and the exercise of any right or power).
        </p>


        <!----------------------------------->
        <h4 class="pt-5 pb-2 text-prometheus">21. &nbsp; Third Party Rights</h4>
        <p>
            This Agreement does not confer any rights on any person or party
            (other than the parties to this Agreement and, where applicable, their successors and permitted assigns)
            pursuant to the Contract (Third Party Rights) (Scotland) Act 2017.
        </p>


        <!----------------------------------->
        <h4 class="pt-5 pb-2 text-prometheus">22. &nbsp; Publicity</h4>
        <p>
            The Company may use the Customer's name and logo in online or offline promotional materials of the
            Services. Each party may use the other party’s name and logo only as permitted in the Agreement.
            The Company and the Customer shall work together in good faith to issue at least one mutually agreed
            upon press release within thirty (30) days, and the Customer otherwise agrees to reasonably cooperate
            with the Company to serve as a reference account upon request.
        </p>


        <h4 class="pt-5 pb-2 text-prometheus">23. &nbsp; Notices</h4>
        <p>
            All notices under this Agreement will be in writing and will be deemed to have been duly given when
            received, if personally delivered; when receipt is electronically confirmed, if transmitted by e-mail;
            the day after it is sent, if sent for next day delivery by recognised overnight delivery service;
            and upon receipt, if sent by certified or registered mail, return receipt requested.
        </p>

        <h4 class="pt-5 pb-2 text-prometheus">24. &nbsp; Governing Law and Jurisdiction</h4>
        <p>
            This Agreement and any dispute or claim arising out of or in connection with it or its subject matter
            or formation (including non-contractual disputes or claims) shall be governed by and construed
            in accordance with the law of Scotland.  The Company and the Customer each irrevocably agrees that
            the courts of Scotland shall have exclusive jurisdiction to settle any dispute or claim arising out
            of or in connection with this Agreement or its subject matter or formation
            (including non-contractual disputes or claims).
        </p>















    </div>


  </div>
{% endblock %}

